---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	 <main style="padding: 10px;background: black; color: white;: 26px;">             
        <aside>
            <h1 class="lil">What is going on on this website?</h1>
        
            <ul>
                <li class="lil">upgrade</li>
                <li class="lil">idk</li>    
                <li class="lil">idk</li>
            </ul>
        </aside>
        
        <hr class="hor_line">

        <div style="border:  solid #a7a3a36e ; border-radius: 12px;width: 45%; margin-left: 550px;">
            <img src="" style="border-color: #a7a3a359; border-radius: 12px;">

			<hr class="vr">

            <div class="contain">
				 <button class="cont_but"><b><a href="https://t.me/+G0aPnrZE5_YyODcy"
                 target="_blank" class="cont_butt">TGChannel</a></b></button>

           		 <button class="cont_but"><b><a href="https://github.com/Ryodof"
                 target="_blank" class="cont_butt">GitHub</a></b></button>

				 <button id="open-popup" class="cont_but"><b>QR-Code</b></button>

			</div>

            <hr style="width: 50%;color: #ffffff9a;margin-right: 1250px;">
		
        </div>
           

		  <div id="popup" class="popup grey-black" style="border-radius: 9px;">
			<div class="popup-content">
			  <h3 class="lil">QR-Code of TGChannel</h3>
			  <img src=".../public/QR-Code.png" alt="">
			  <button id="close-popup" class="lil">Close</button>
			</div>
		  </div>

		<hr class="hor_line">
        
        <dl>
            <dt  class="lil">Who am I?</dt>
            <dt  class="lil">What do I do?</dt>
            <dd>
                <blockquote  class="lil">
                    I am starter web and not only web developer.<br>I learn coding, make learn projects like this site.<br>I learn Python, HTML, CSS, JS, C#.
                </blockquote>
            </dd>
        </dl>
        
        <hr class="hor_line">
        
        <h3  class="lil">Further is code on Python,<br> that prints "Hello, World!"</h3>
        
        <pre>
            <code  class="lil">
                a="Hello, World!"
                print(a)
            </code>
        </pre>
    </main>
	
	<script>
		const popup = document.getElementById('popup');
		document.getElementById('open-popup')?.addEventListener('click', () => {
		  popup!.style.display = 'flex';
		  document.getElementById('close-popup')?.addEventListener('click', () => {
			popup!.style.display = 'none';
		  });
		});
					</script>
</Layout>

<style>
	.vr{
		height: 100%;
		width: 2px;
	}
	.contain{
		display: flex;
		flex-direction: column;
	}
	.lil{
		color: #ffffff9a;
	}
	.cont_but{
		background: black;
		color: #ffffff9a;
		font-size: 7pt;
		border-radius: 12px;
		border: 3px solid #a7a3a359;
		text-decoration: none;
	}
	.cont_butt{
		background: black;
		color: #ffffff9a;
		font-size: 7pt;
		text-decoration: none;
	}
	.hor_line{
		width: 97%;color: #ffffff9a;
	}
	main {
		margin-top: 20px;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
  text-align: center;
}

#close-popup {
  background-color: #fff;
  color: #222;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.grey-black {
  background-color: #000000;
  color: #222;
}
.blur_pop_up {
 backdrop-filter: blur(5px);
}
</style>
