---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
		<header>
			<nav class="nav">
				<b><a href="index" class="nav_but">Home</a></b>
				<b><a href="blog" class="nav_but">Blog</a></b>
				<b><a href="projects" class="nav_but">Projects</a></b>
				<b><a href="https://shork.one"  target="_blank" class="nav_but">Shork</a></b>
				<b><a href="social" class="nav_but">Social</a></b>
			</nav>
		</header>
	<body>
		<slot />
	</body>
	<footer>
		<button class="source"><b><a style="text-decoration: none;" target="_blank" href="https://github.com/Ryodof/rdferWS">>/SOURCE\<</a></b></button>
		<p class="texter">This website was created on framework Astro. This is open-source project by _Ryodof.<br> If you have an idea for my projects, you can send them to "Projects@ryodof.ru".</p>
		
	</footer>
</html>
<style is:global>
	footer{
		background: #000;
	}
	.source{
		border: solid white 3px;
		border-radius: 20px;
		color:white;
		background: #000;
		width: 10%;
		height: 20px;
		text-align: center;
		margin-left: 45%;
		text-decoration: none;
	}
	.texter{
		color: #ffffff9a;
		text-align: center;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	header {
  background-color: #09090b;
  border-radius: 20px;
  border: solid 2px #a7a3a359 ;
  padding: 10px;
  align-items: center;
  color: #fff;
  position: fixed;
  width: 97%;
  margin-bottom: 20%;
}

.nav {
  margin-left: 70%;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav_but {
  margin: 0 30%;
  color: #fff;
  text-decoration: none;
}

</style>
